<h1>All Your Cocktails</h1>

<ul>
  <% @cocktails.each do |cocktail| %>
  <li><%= cocktail.name %> <%= link_to 'View', cocktail_path(cocktail) %> </li>
  <% end %>
</ul>

<%= cl_image_tag("xh6vz2opxxfkyukm7hab", width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("mjnylwnm7ea5xwav3nx8", width: 150, height: 150, crop: :thumb, gravity: :face) %>
